/*
Colors:

	Purple: #9149A8;
	Element Grey: #293A41;
	Between Elements: #1F3239;
	Blue: 17C5DA;
*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
::-webkit-scrollbar {
    display: none;
}
body {
	transition: 1s cubic-bezier(.8,.01,.71,.99);
    font: 16px sans-serif;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: white;
    overflow: hidden;
    background: #1F3239;
}
button, input[type="text"], input[type="number"], .select-container, select {
    font-family: 'Quicksand', sans-serif;
    color: white;
    background: #444;
    border: none;
    font-size: 14px;
    padding: 8px 8px;
    cursor: pointer;
    outline: 0;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
button:hover {
	box-shadow: 0 8px 10px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
button:active {
	background-color: #17C5DA;
}
.select-container {
    padding: 0;
    display: inline-block;
}
select {
    border: none;
    background: none;
    color: white;
    height: 25px;
}
input[type="text"], input[type="number"] {
    cursor: text;
}
input[type="checkbox"] {
    -webkit-filter: saturate(0);
    filter: saturate(0);
}
/* Major interface panes, aside, article, header, etc. */
body > * {
    padding: 10px;
    position: fixed;
    overflow: scroll;
    background: #293A41;
}
#timer {
    font-family: monospace;
    display: block;
    height: 150px;
    width: 430px;
    position: absolute;
    top: 0;
    left: 0;

  	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  	transition: all 0.3s cubic-bezier(.25,.8,.25,1);

    bottom: 0vh;
    font-size: 180px;

    line-height: .8;
}
#timer:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
header {
    width: 20vw;
    height: 20vh;
    top: 0;
    left: 27.5vw;
    color: white;
}
#camera {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);

    animation-duration: .3s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 0;
    position: relative;
    top: 170px;
    width: 533px;
    height: 400px;
    overflow: hidden;
    background-color: rgb(41,58,65)/* #293A41; */
    /* You'll need to mess with this a bit to get your camera to work. Replace the url with a live-updating image feed from your camera. Using other camera streaming systems will require some tweaking. */
    /*background-image: url('LINK TO CAMERA SOURCE HERE');*/
}
/*Sensorpage Cards*/
.card {
    border-radius: 1px;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    background-color: #293A41;
    font-family: 'Quicksand', sans-serif;
}
.card:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
#powerStats {
    width: 250px;
    height: 100px;
}
#driveTrain {
    margin-top: 15px;
    width: 390px;
    height: 365px;
}
#driveTrainSvg {
    transform: translate3d(-1335px,145px,0);
    background: transparent;
}
#intake {
    width: 300px;
    height: 100px;
    transform: translate3d(270px,-746px,0);
}
.title {
    text-align: center;
    font-size: 20px;
}




#sensorpage {
    left: 20px;
    top: 20px;
    transform: translate3d(-1365px,0px,0px);
    width: 1325px;
    height: 568px;
    background: #1F3239; 
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
#sensorpage:hover {
}
#mainPageButton {
    background: #444;
    transform: translate3d(-118px,30px,0);
}
#mainPageButton:active {
    background-color: #17C5DA;
}









#tuner {
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  	left: 450px;
  	width: 600px;
    height: 150px;
}
#tuner:hover {
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
#camera:hover {
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

#cameraFeed {
	position: absolute;
	border-color: black;
	border-width: 5px;
	width: 533px;
	height: 400px;
}

#cameraReloadButton {
	align-self: center;
    transform: translate3d(167px,-34px,0);
}


@keyframes flash {
	5% {background-color: #293A41;}
	10% {background-color: #ffc400;}
	15% {background-color: #293A41;}
	45% {background-color: #293A41;}
	50% {background-color: #ffc400;}
	55% {background-color: #293A41;}
	85% {background-color: #293A41;}
	90% {background-color: #f0c400;}
	95% {background-color: #293A41;}
}

#tuning {
    width: 50vw;
    height: 80vh;
    bottom: 0;
}
#sensorDataButton {
    width: 100px;
    height: 34px;
}
#tuning div {
    margin: 20px 0;
}
#tuning p {
    margin-bottom: 10px;
}
article {
    top: 0;
    left: 50vw;
    height: 100vh;
    width: 35vw;
}
svg * {
    stroke: white;
    fill: #293A41;
    stroke-width: 2;
    -webkit-transform-origin: bottom;
    -ms-transform-origin: bottom;
    transform-origin: bottom;
}
text {
    font-size: 16px;
    letter-spacing: 2px;
    stroke: none;
    fill: white;
}
#svgArticle {
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
	height: 320px;
	background-color: #293A41;
	width: 332px;
	/*top: 21.5vh;*/
	/*left: 654px;*/
}
#svgArticle:hover {
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

#svgTopView {
	background-color: #293A41;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  	top: 10px;
  	height: 320px;
	left: 654px;
	/*transform: translateY(17px);*/
    transform: translate3d(349px, -320px,0);
	position: element(#svgArticle);
}

#svgTopView:hover {
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

#gyroAricle2 {
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    height: 20vh;
    left: 70vw;
}
#gyroArticle {
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    height: 150px;
    width: 20vh;
    right: 0px;
    top: 0;
}
#gyroArticle:hover {
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

#gyro {
	margin-top: -10px;
	margin-left: -10px;
    width: 20vh;
    height: 20vh;
}
#gyro-arm {
    -webkit-transform-origin: center;
    -ms-transform-origin: center;
    transform-origin: center;
}
#gyro-number {
    font-size: 25px;
    text-anchor: middle;
}

#outerGyroCircle {
	fill: transparent;
	stroke: #9149A8;
}

#innerGyroCircle {
	fill: transparent;
}

#robot-diagram {
    bottom: 1px;
    transform-origin: 50% 423px;
    transform: translate3d(-6%,0,0);
    transition: .2s;
}
#robot-arm {
	transition: .3s;
    -webkit-transform-origin: right;
    -ms-transform-origin: right;
    transform-origin: right;
}
#team {
    font-size: 28px;
    font-family: 'Quicksand' sans-serif;
    letter-spacing: -1px;
}
aside {
    right: 0;
    top: 0;
    width: 15vw;
    height: 100vh;
}
aside > * {
    margin-bottom: 20px;
}
body.login-close > .greybox {
    display: none
}
#login {
    transform: translate3d(1100px,-400px,0px);
    text-align: center;
    display: block;
    margin: 14em auto 0 auto;
    width: 18em;
    overflow: hidden;
    z-index: 3;
    animation: 1s linear;
    padding: 4px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.8)
}
body.login-close #login {
    opacity: 1;
    width: 0;
    animation: 1s linear;
}
#login :disabled {
    filter: opacity(0.6)
}
#login > button{
    width:6em
}
#connect{
	transition: .2s;
    text-align: center;
}
#helpText {
	transition: 1s;
	opacity: 100;
	text-align: center;
	color: orange;
	size: 20px;
	top: 0px;
    font-family: 'Quicksand', sans-serif;
	animation-name: flashing;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	transition: .5s;
}

@keyframes flashing {
	0% {color: #17C5DA;}
	50% {color: #9149A8;}
	100% {color: #17C5DA;}
}

#ElevatorCarriage {
	transition: 1s cubic-bezier(0,.99,.3,1.01);
}

#Cube {
	transition: 1s cubic-bezier(0,.99,.3,1.01);
}

#robotSvgs {
	color: #1F3239;
    overflow: visible;
	background-color: transparent;
	transform: translate3d(540px,-240px,0);
	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
	/*top: 170px;*/
    height: 345px;
	/*left: 540px; 650px originally */
}

@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 400;
  src: local('Quicksand Regular'), local('Quicksand-Regular'), url(Fonts/NUrn2XQrRfyGZp5MknntaYX0hVgzZQUfRDuZrPvH3D8.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}
@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 400;
  src: local('Quicksand Regular'), local('Quicksand-Regular'), url(Fonts/s2PXW4WrV3VLrOUpHiqsfYX0hVgzZQUfRDuZrPvH3D8.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 400;
  src: local('Quicksand Regular'), local('Quicksand-Regular'), url(Fonts/sKd0EMYPAh5PYCRKSryvW5Bw1xU1rKptJj_0jans920.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215;
}


#teamNameText {
    text-align: center;
    font-size: 30px;
    transition: 5s;
    font-family: 'Quicksand', sans-serif;

}

.leftDiagonalLines {
    transition: 1s;  /*cubic-bezier(0,.99,.3,1.01)*/
}

.rightDiagonalLines {
    transition: 1s; /*cubic-bezier(0,.99,.3,1.01)*/
}
/* Guages code */

/*@font-face {
    font-family:'Roboto';
    src: url('fonts/fontie-package/Roboto.eot');
	src: url('fonts/fontie-package/Roboto.eot?#iefix') format('embedded-opentype'),
		url('fonts/fontie-package/Roboto.woff2') format('woff2'),
		url('fonts/fontie-package/Roboto.woff') format('woff'),
		url('fonts/fontie-package/Roboto.svg#Roboto') format('svg');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-2044;
}*/


.gauge {
	background-color: transparent;
	z-index: 5;
	height: 70px;
    overflow: hidden;
	width: 150px;
	text-align: center;
}
.guageText {
	font-family: 'Quicksand', sans-serif;
    z-index: 4;
    padding-top: 60px;
    font-size: 15px;
    animation-duration: .1s;
    transform: translateY(-276px);
}
.innerGuageSvg {
	transform: translate3d(-10px,-95px,0px);
}
.innerCircle {
	stroke: transparent;
	fill: #293A41;
}
.outerGuageSvg {
	transition: 1s cubic-bezier(0,.99,.3,1.01);
	z-index: -1;
	transform: translate3d(-10px,10px,0px) rotate(90deg);
}

.gaugeCircle {
	fill: rgb(59,135,193);
	stroke: transparent;
	transition: .5s;
	transform-origin: 100% 40%;
}
.percentageText {
	font-family: 'Quicksand', sans-serif;
	z-index: 4;
	padding-top: 60px;
	font-size: 15px;
	animation-duration: .1s;
	transform: translateY(-310px);
}
.backgroundGaugeCircle {
    fill: #192A31;
    stroke: transparent;
}
/*Switch graphic*/
.switch {
    width: 100px;
    height: 35px;
    overflow: hidden;
    background: #192A31;
    border-radius: 3px;
}
@keyframes booleanFlash {
    1% {background: rgb(255,255,255);}

}
.switchGreen {
    transition: .4s cubic-bezier(0,.99,.3,1.01);
    animation-name: booleanFlash;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    width: 100px;
    height: 35px;
    z-index: 1;
    background: #25D125;
}

.switchRed {
    transition: .4s cubic-bezier(0,.99,.3,1.01);
    animation-name: booleanFlash;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    width: 100px;
    height: 35px;
    background: #D12525;
}
/* Compass */
.compassDiv {
    border-radius: 1px;
    width: 130px;
    height: 130px;
}
.compass {
    padding-top: -20px;
    transition: 1s cubic-bezier(0,.99,.3,1.01);
    /*transform: translateY(-20px);*/
}
.compassDivInner {
    transform: translate3d(0,-20px,0);
}
.compassText {
    text-align: center;
    font-size: 15px;
}
/* Level Gauge */
.level {
    transition: .4s cubic-bezier(0,.99,.3,1.01);
    width: 130px;
    height: 130px;
    transform: translate3d(130px,-130px,0);
}
.levelText {
    transform: translateY(-63px);
    font-size: 15px;
    text-align: center;
}
.levelTextName {
    text-align: center;
    transform: translateY(-154px);
}
.levelLine {
    transition: .4s cubic-bezier(0,.99,.3,1.01);
    transform-origin: center;
}
/*Number readout*/
.numberReadoutParent {
    text-align: center;
}

.numberReadoutName {
    width: 100px;
    font-size: 15px;
}
.numberReadout {
    border-radius: 3px;
    transition: 1s cubic-bezier(0,.99,.3,1.01);
    width: 100px;
    height: 35px;
    background: #192A31;
}
.numberReadoutValue {
}
.switch {
    width: 100px;
    height: 35px;
    overflow: hidden;
    background: #192A31;
    border-radius: 3px;
}
.sensorGaugeCircle {
    fill: rgb(59,135,193);
    stroke: transparent;
    transition: .5s;
    transform-origin: top;
}
.startLimit {
    transform: translate3d(-40px,-323px,0px) rotate(-70deg);
    font-size: 10px;
}
.endLimit {
    transform: translate3d(40px,-335px,0px) rotate(70deg);
    font-size: 10px;
}

#robot-state {
    font-family: 'Quicksand', sans-serif;
}

/*GAUGE IDS AND TRANSFORMS*/

#powerOutput {
    transform-origin: top;
    transform: translate3d(450px,80px,0);
}
#gauge2 {
    transform: translate3d(580px, 80px, 0);
}
#gauge3 {
    transform: translate3d(710px, 80px,0);
}
#gaugeVoltage {
    transform: translate3d(-1345px,60px,0);
}
#switchGreenTest {
    transform: translateX(100px);
}
#switchRedTest {
    transform: translateX(-100px) translateY(-35px);
}
#numberReadoutParentTotalAmps {
    transform: translate3d(135px,8px,0);
}
#numberReadoutParentCurrentLeft {
    transform: translate3d(50px,-250px,0);
}
#numberReadoutParentCurrentRight {
    transform: translate3d(240px,-304px,0);
}
#gaugeRightVelocity {
    transform: translate3d(-1120px,370px,0);
}
#gaugeLeftVelocity {
    transform: translate3d(-1310px,370px,0);
}
#gaugeIntakeVelocity{
    transform: translate3d(-1075px,60px,0px);
}
#gaugeIntakeAmps {
    transform: translate3d(-960px,60px,0px);
}
#numberReadoutParentLeftPosition {
    transform: translate3d(50px,-220px,0);
}
#numberReadoutParentRightPosition {
    transform: translate3d(240px,-274px,0);
}

@keyframes fadeBack {
	0% {opacity: 00;}
	100% {opacity: 100;}
}
#arrowUpDriveShift {
    animation-duration: 1s;
    animation-iteration-count: infinite;
    font-size: 70px;
/**    transition: 1s cubic-bezier(0,.99,.3,1.01);
*/}
.arrow {
    transform: translateX(45px) translateY(-15px);
    width: 40px;
}
.arrowTitle {
    text-align: center;
    font-size: 15px;
}
.arrowDiv {
    width: 130px;
    height: 130px;
}

@keyframes pulseUp {
    10% {transform: translateY(5px);}
}
@keyframes pulseDown {
    10% {transform: translateY(-5px);}
}


.squareGauge {
    transition: 5s;
    border-radius: 2px;
    height: 201px;
    width: 30px;
    background-color: #192A31;
    overflow: hidden;
}
.squareGaugeSVG {
    height: 201px;
    width: 30px;
    transform: translate3d(-10px,-10px,0px);
    overflow:hidden;
}
.squareGaugeBar {
    animation-duration: 1s;
    animation-iteration-count: infinite;
    transition: 1s cubic-bezier(0,.99,.3,1.01);
    fill: #17C5DA;
    stroke: transparent;
}
.squareGaugePercentage {
    animation-duration: .1s;
    width: 30px;
    transition: 1s;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    z-index: 10;
    transform: translate3d(-9px, -121.5px, 0px);
    color: white;
    font-size: 10px;
}
.lockClass {
    font-size: 70px;
}
#percentageLeft {
    z-index: 1;
    transform: translate3d(908px,230px,0px); /*transform: translate3d(670px,570px,0px);*/
}
#percentageRight {
    z-index: 1;
    transform: translate3d(1189px,230px,0px);
}
#carraigeMotorGauge {
    z-index: 1;
    background-color: #293A41;
    transform: translate3d(840px, 80px,0);
}
#arrowTransformDriveShift {
    transform: translate3d(260px,-230px,0);
}
@keyframes maxed {
    25% {fill: rgb(255,0,0);}
    50% {fill: rgb(255,255,255);}
}
/*
 Blur transition that does not work

body:not(.login-close) >:not(.greybox) {
    animation: blur 1s normal forwards
}
body.login-close >:not(.greybox) {
    animation: blur 1s reverse backwards
}
@keyframes blur {
    from {
        filter: blur(0);
    }
    to {
        filter: blur(3px);
    }
}
*/