/*
Colors:

	Purple: #9149A8;
	Element Grey: #293A41;
	Between Elements: #1F3239;
	Blue: 17C5DA;
*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
::-webkit-scrollbar {
    display: none;
}
body {
	transition: .3s;
    font: 16px sans-serif;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: white;
    overflow: hidden;
    background: #1F3239;
}
button, input[type="text"], input[type="number"], .select-container, select {
    color: white;
    background: #444;
    border: none;
    font-size: 14px;
    padding: 6px 8px;
    cursor: pointer;
    outline: 0;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
button:hover {
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
button:active {
	background-color: #17C5DA;
}
.select-container {
    padding: 0;
    display: inline-block;
}
select {
    border: none;
    background: none;
    color: white;
    height: 25px;
}
input[type="text"], input[type="number"] {
    cursor: text;
}
input[type="checkbox"] {
    -webkit-filter: saturate(0);
    filter: saturate(0);
}
/* Major interface panes, aside, article, header, etc. */
body > * {
    padding: 10px;
    position: fixed;
    overflow: scroll;
    background: #293A41;
}
#timer {
    font-family: monospace;
    display: block;
    height: 20vh;
    width: 26.5vw;
    position: absolute;
    top: 0;
    left: 0;

  	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  	transition: all 0.3s cubic-bezier(.25,.8,.25,1);

    bottom: 0vh;
    font-size: 20vh;

    line-height: .8;
}
#timer:hover {
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
header {
    width: 20vw;
    height: 20vh;
    top: 0;
    left: 27.5vw;
    color: white;
}
#tuner {
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
#tuner:hover {
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
#camera {
  	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  	transition: all 0.3s cubic-bezier(.25,.8,.25,1);

	animation-duration: .5s;
	animation-iteration-count: 1;
	animation-timing-function: linear;
	display: flex;
	justify-content: center;
	align-content: center;
    padding: 0;
    position: absolute;
    top: 21.5vh;
    width: 640px;
    height: 530px;
    overflow: hidden;
    background-color: rgb(41,58,65)/* #293A41; */
    /* You'll need to mess with this a bit to get your camera to work. Replace the url with a live-updating image feed from your camera. Using other camera streaming systems will require some tweaking. */
    /*background-image: url('LINK TO CAMERA SOURCE HERE');*/
}
#camera:hover {
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

#cameraFeed {
	position: absolute;
	border-color: black;
	border-width: 5px;
	width: 640px;
	height: 480px;
}

#reloadCamera {
	/* align-self: center; */
}
#reloadCameraButton {
	top: 490px;
	position: absolute;
	z-index: 10;
}


@keyframes flash {
	0% {background-color: #333;}
	8% {background-color: #333;}
	10% {background-color: #ffc400;}
	12% {background-color: #333;}
	28% {background-color: #333;}
	30% {background-color: #ffc400;}
	32% {background-color: #333;}
	48% {background-color: #333;}
	50% {background-color: #ffc400;}
	52% {background-color: #333;}
	68% {background-color: #333;}
	70% {background-color: #ffc400;}
	72% {background-color: #333;}
	88% {background-color: #333;}
	90% {background-color: #f0c400;}
	92% {background-color: #333;}
	100% {background-color: #333;}
}

#tuning {
    width: 50vw;
    height: 80vh;
    bottom: 0;
    left: 0;
}
#tuning div {
    margin: 20px 0;
}
#tuning p {
    margin-bottom: 10px;
}
article {
    top: 0;
    left: 50vw;
    height: 100vh;
    width: 35vw;
}
svg * {
    stroke: white;
    fill: #222;
    stroke-width: 2;
    -webkit-transform-origin: bottom;
    -ms-transform-origin: bottom;
    transform-origin: bottom;
}
text {
    font-size: 16px;
    letter-spacing: 2px;
    stroke: none;
    fill: white;
}
#svgArticle {
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
	height: 320px;
	width: 332px;
	top: 21.5vh;
	left: 654px
}
#svgArticle:hover {
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
#gyroAricle2 {
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    height: 20vh;
    left: 70vw;
}
#gyroArticle {
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    height: 20vh;
    width: 20vh;
    left: 48.6vw;
}
#gyroArticle:hover {
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

#gyro {
	margin-top: -10px;
	margin-left: -10px;
    width: 20vh;
    height: 20vh;
}
#gyro-arm {
    -webkit-transform-origin: center;
    -ms-transform-origin: center;
    transform-origin: center;
}
#gyro-number {
    font-size: 25px;
    text-anchor: middle;
}

#outerGyroCircle {

}

#innerGyroCircle {

}

#robot-diagram {
    position: absolute;
    bottom: 1px;
    right: 19.2px;
}
#robot-arm {
	transition: .3s;
    -webkit-transform-origin: right;
    -ms-transform-origin: right;
    transform-origin: right;
}
#team {
    font-size: 28px;
    letter-spacing: -1px;
}
aside {
    right: 0;
    top: 0;
    width: 15vw;
    height: 100vh;
}
aside > * {
    margin-bottom: 20px;
}
.greybox {
    position: fixed;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.3);
}
body.login-close > .greybox {
    display: none
}
#login {
    text-align: center;
    display: block;
    margin: 14em auto 0 auto;
    width: 18em;
    overflow: hidden;
    animation: 1s linear;
    padding: 4px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.8)
}
body.login-close #login {
    opacity: 1;
    width: 0;
    animation: 1s linear;
}
#login :disabled {
    filter: opacity(0.6)
}
#login > button{
    width:6em
}
#connect{
	transition: .2s;
    text-align: center;
}
#helpText {
	transition: 3s;
	opacity: 100;
	text-align: center;
	color: orange;
	size: 20px;
	animation-name: flashing;
	animation-duration: .5s;
	animation-iteration-count: infinite;
	transition: .5s;
}

@keyframes flashing {
	0% {color: white;}
	50% {color: #9149A8;}
	100% {color: white;}
}

#ElevatorCarriage {
	transition: .3s;
}

#Cube {
	transition: .3s;
}

/*
 Blur transition that does not work

body:not(.login-close) >:not(.greybox) {
    animation: blur 1s normal forwards
}
body.login-close >:not(.greybox) {
    animation: blur 1s reverse backwards
}
@keyframes blur {
    from {
        filter: blur(0);
    }
    to {
        filter: blur(3px);
    }
}
*/